script(src="./../js/userDataEqual.js")

div.userPath
  p
    button#sourceDirectory исходная директория
    span  укажите исходную директорию
  p
    button#xlsxDirectory xlsx файлы
    span укажите директорию с промежуточными xlsx файлами
  p
    button#targetDirectory конечная директория
    span укажите конечную директорию

hr
p
  select.baseListUi
  span укажите основную базу

label <input type="checkbox" checked name="dirInDir"/> директория с поддиекториями
br
label <input type="checkbox" checked name="xlsx"> использовать промежуточные xlsx файлы
br
label <input type="checkbox" checked name="dash"> копировать несколько одинаковых условий в один файл с разделенным названием через тире

// "_"
p 1. 
  input(type="text" placeholder="_" name="splitDir")
  span разделитель имени директории

// "_"
p 2. 
  input(type="text" placeholder="_" name="splitFile")
  span разделитель имени файла

// 1; ;1,2; ;2
p 3. 
  input(type="text" placeholder="1;_;1,2;_;2" name="splitXlsx")
  span разделитель xlsx

// 1; ;1,2; ;2
p 4. 
  input(type="text" placeholder="1;_;1,2;_;2" name="splitBase")
  span разделитель базы

// столбец;имя директории 1;1 or 1
p 5. 
  input(type="text" placeholder="1;1" name="equalBaseDir")
  span сравнение имя директории с базой

// столбец;имя файла 1;1 or 1
p 6. 
  input(type="text" placeholder="1;1" name="equalBaseFile")
  span сравнение (имя файла/столбец из xlsx) с базой

//1;_;1 or 1 or 1;_;1:userName or 1:userName or :userName
p 7. 
  input(type="text" placeholder=":name" name="endDir")
  span конечное имя директории
p 8. 
  input(type="text" placeholder="1;_;1:name" name="endFile")
  span конечное имя файла

button#runCopyAndRaname старт
hr

div.mainDescript
  p Процесс сравнения происходит следующим образом: <a href="">подробней</a>
  ul
    li Сканируеться каждая строчка основной базы данных для каждого имени файла/папки и проверяет ваше условие на истинность
    li В сравнении вы должны указавать только в каком столбце сравнивать имя файла/папки
    li Если все условия истины, тогда файл копируеться в указанную директорию, с указанным именем (имена указываються из основной базы)

  p <b>*</b> Директория с поддиректориями
    ul
      li Указываеться директория в которой находяться поддиректории, в которых находяться конечные файлы (файлы могут быть любого расширения)

  p <b>*</b> Использование промежуточных xlsx файлов
    ul
      li Указываеться аналогичная директория в которой есть xlsx файлы с аналогичным названием поддиректорий и исходных файлов, если название поддиректорий или название файла xlsx не будут совпадать с исходными файлами, то они будут пропущены
      li Это нужно в ситуациях, если вам необходимо копировать один файл не по его одному имени файла, а по нескольким разным именам которые указанны в xlsx, поэтому вы должны описать несколько строк с нужными значениями в аналочином xlsx файле. <br> Чаще всего это применяеться к изображениям(документ), отсканированным с помощью fineReader и сохраненными в xlsx файле

  p <b>*</b> Разделить
    ul
      li Разделителем может служить любой символ кроме <q>;</q>  <q>,</q>  <q>:</q>
      li Подсказка: Можно указывать пробел <q>1; ;1</q>

  p <b>*</b> Совет: Перед использованием xlsx, форматируйте дату как текст

div.descript
  h4 1. Разделитель имени директории/файла
  ul
    li Разбивает имя директории на несколько элементов по разделителю. <br>
    li Пример: имя <q>1558_август</q>, разделитель <q>_</q> <br>
    li В данном примере разделитель нижнее подчеркивание разобъет имя директории на два имени, то есть - <q>1558</q> и <q>август</q> <br>
    li Если вы хотите использовать имя целиком, оставьте это поле пустым
    li В других полях ввода вам нужно будет указывать какую часть имени вы хотите использовать, поэтому, вы должны понимать что при разделении имени <q>1558_август</q> по разделителю <q>_</q> у вас получиться две части 1 - <q>1558</q> 2 - <q>август</q>

div.descript
  h4 2. Разделитель имени файла
  span смотреть 1 пункт

div.descript
  h4 3. Разделитель xlsx
  ul
    li Если вы используете промежуточные файлы екселя, то можно предварительно разделить имена в ячейках по разделителю, этот же принцип относиться и к общей базе
    li смотреть 4 пункт

div.descript
  h4 4. Разделитель базы
  ul
    li Предварительное разделение имен в ячейках по разделителю
    li Пример: <q>1;_;1</q> (<q>столбец;разделитель;используемая часть имени</q>)
    li В данном случае указываеться - использовать значение из первого столбеца в каждой строчки, разделить имя по знаку <q>_</q> и именить значение ячейки на первую часть имени
    li Так же можно менять несколько столбцов перечисляя значения через папятую <q>1;_;1,2;_;1</q>
    li Если вы не хотите менять содержимое ячеек можно оставить это поле пустым

div.descript
  h4 5. Сравнение имя директории с базой
  ul
    li Указываеться номер столбца из базы и часть имени директории
    li Пример: <q>1;1</q> (<q>столбец;1</q>)
    li В данном случае указываеться - использовать значение из первого столбеца в каждой строчки и сравнить с именем текущей директории/файла
    li Если вы предварительно указали разделитель имени деректории, то необходимо указать какую часть имени нужно сравнивать с ячейкой из общей таблици
    ul
      li Пример: <q>1558_август</q> разделитель <q>_</q>
      li <q>1;2</q>
      li Тогда в первом столбце будет сравниваться на совпадение вторая часть имени, то есть <q>август</q>
    li Если вы предварительно не разбивали имя директории, можете указать только имя столбца из общей таблици, то есть <q>1</q>, тогда будет сравнивать имя директории целиком


div.descript
  h4 6. сравнение (имя файла/значения из xlsx) с базой
  ul
    li если используетються промежуточные xlsx файлы, тогда вторым параметром укаазываеться столбец из xlsx
    li если используетються имя файла, тогда вторым параметром укаазываеться часть имени, или имя целиком (1)
    li смотреть 5 пункт

div.descript
  h4 7. Конечное имя директории
  ul
    li Конечное имя директории/файла можно задать из таблици, так же добавить свое название к названию из таблици, или прописать статичное название
    li после знака <q>:</q> нужно указывать статическое имя ( не обяз. )
    li Пример 1: <q>1;_;1:name</q> (<q>столбец;разделитель;используемая часть имени:добавочное имя</q>)
      ul
        li Использовать название из <q>1</q> колонки,
        li Разделить его по знаку <q>_</q>
        li Использовать получившуюся <q>1</q> (первую) часть имени
        li Добавить к нему свое <q>:name</q>
    li Пример 2: <q>1</q>
      ul
        li Использовать название из <q>1</q> колонки,
    li Пример 3: <q>1:name</q>
      ul
        li Использовать название из <q>1</q> колонки,
        li Добавить к нему свое <q>:name</q>
    li Пример 4: <q>:name</q>
      ul
        li Все файлы/директории будут называться <q>name</q>


div.descript
  h4 8. Конечное имя файла
  span смотреть 7 пункт